/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html body {
  background: #fdc106;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

iframe {
  background-color: #fdc106;
  display: block;
}

a {
  color: #fdc106;
}

a:hover, a:active, a:focus {
  color: #2dca98;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color:#222;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #fdc106;
  color: #222;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
  margin-top: -6px;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(12, 12, 12, 1.0);
  padding: 20px 0;
  height: 74px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.jpg) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  background: #fdc106;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fdc106;
  color: #222;
}

#hero .btn-get-started:hover {
  background: transparent;
  border: 2px solid #fdc106;
  color: #fdc106;
}

#hero .btn-get-service {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #dedede;
  color: #dedede;
}

#hero .btn-get-service:hover {
  background: #dedede;
  border: 2px solid #dedede;
  color: #222;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fdc106;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #2dc997;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: poMontserrat;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(12, 12, 12, 1.0);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fdc106;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: poMontserrat;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #2dc997;
}

#mobile-nav ul .menu-item-active {
  color: #2dc997;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(12, 12, 12, 0);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #333;
}

/* About Us Section
--------------------------------*/
#about {
  background-color: inherit;
  position: relative;
  min-height: 100px;
  width: 100%;
  padding: 80px 0;
}

#about .about-container .background {
  min-height: 420px;
  background: url(../img/about-img.png) center top no-repeat;
  margin-bottom: 10px;
}

#about .about-container .content {
  background: #fdc106;
}

#about .about-container .title {
  color: #222;
  font-weight: 700;
  font-size: 32px;
}

@media (max-width: 768px) {
  #about .about-container .title {
    padding-top: 15px;
  }
}

#about .about-container p {
  line-height: 26px;
  color: #333;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fdc106;
  background-size: cover;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fdc106;
  width: 64px;
  height: 64px;
  min-width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid #222;
}

#about .about-container .icon-box .icon i {
  color: #222;
  font-size: 24px;
}
#about .about-container .icon-box .text {
  display: flex;
  flex-direction: column;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 0 !important;
}

#about .about-container .icon-box .title a {
  color: #111;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 22px;
  font-size: 14px;
  color: #333;
  margin-left: 0 !important;
}

@media (max-width: 768px) {
  #about .about-container .icon-box .text {
    margin-top: -12px;
  }
}


/* Services Section
--------------------------------*/
#services {
  background: #fff;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .box {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 200px;
  position: relative;
  background: #fafafa;
}

#services .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.6s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #fdc106;
}

#services a {
  color: #222;
}

#services .icon a {
  display: inline-block;
}

#services .icon i {
  color: #222;
  font-size: 24px;
}

#services .box:hover .icon {
  background: #fff;
  border: 2px solid #fdc106;
}

#services .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .description {
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

#services .btn-row {
  text-align: center;
}

#services .btn-get-service {
  position: relative;
  overflow: visible;

  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;

  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  margin: 10px;

  background: #fdc106;
  border: 2px solid transparent;
  color: #222;

  transition: color 0.4s, background 0.4s;
  z-index: 1;
}

#services .btn-get-service::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  border: 2px solid #fdc106;

  transform: scale(1);
  transition: transform 0.5s;
  z-index: -1;
}

/* HOVER */
#services .btn-get-service:hover {
  background: transparent;
  color: #222;
}

#services .btn-get-service:hover::after {
  transform: scale(1.12);
}




/* Contact Section */
#contact {
  background-color: inherit;
  position: relative;
  min-height: 100px;/
  width: 100%;
  padding: 80px 0 60px 0;
}

#contact .section-header {
  text-align: center;
  margin-bottom: 40px;
}

#contact .section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

#contact .section-description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: -30px;
}

#contact .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

#contact .col-lg-4 {
  flex: 0 0 40%;
  max-width: 40%;
}

#contact .col-lg-8 {
  flex: 0 0 50%;
  max-width: 50%;
}

#contact .info {
  margin-top: 8px;
  text-align: left;
  color: #333333;
}

#contact .info a {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222;
  text-decoration: none;
  margin-bottom: 25px;
  transition: color 0.3s;
  pointer-events: none;
}

#contact .info i {
  font-size: 24px;
  color: #222;
  margin-right: 15px;
  flex-shrink: 0;
  pointer-events: auto;
}

#contact .info p {
  margin: 0;
  font-weight: 600;
  line-height: 28px;
  transition: text-decoration 0.3s;
  pointer-events: auto;
}

#contact .info a:hover p {
  text-decoration: underline;
  color: #222;
}

/* Map */
#contact iframe {
  width: 100%;
  height: 260px;
  border: 0;
  display: block;
  #margin-left: auto;
}

.map-wrapper {
  border: 2px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}

/* Adaptive */
@media (max-width: 992px) {
  #contact .row {
    flex-direction: column;
    align-items: center;
  }

  #contact .col-lg-4,
  #contact .col-lg-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #contact iframe {
    margin-left: 0;
  }

  #contact .info {
    text-align: center;
    margin-bottom: 20px;
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
